# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Node / frontend
node_modules/
dist/
build/
.cache/
*.log
*.tsbuildinfo

# Env
.env
.env.*
*.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/

# Testing
.pytest_cache/
coverage/
.coverage*

# Docker
*.pid

# Misc
*.tmp
*.bak
backend/microservices/pronunciation_service/pronunciation_project/wav2vec2_pronunciation_model/
