version: "3.8"
services:
  gateway:
    build: ./gateway
    ports:
      - "8000:8000"
    depends_on:
      - whatsapp_agent
      - ai_glossary
      - ai_notekeeper
      - automatic_translation
      - skills_development
      - shadowing
  whatsapp_agent:
    build: ./microservices/whatsapp_agent
    env_file:
      - ./microservices/whatsapp_agent/.env
    expose:
      - "8000"
  ai_glossary:
    build: ./microservices/ai_glossary
    env_file:
      - ./microservices/ai_glossary/.env
    expose:
      - "8000"
  ai_notekeeper:
    build: ./microservices/ai_notekeeper
    env_file:
      - ./microservices/ai_notekeeper/.env
    expose:
      - "8000"
  automatic_translation:
    build: ./microservices/automatic_translation
    env_file:
      - ./microservices/automatic_translation/.env
    expose:
      - "8000"
  skills_development:
    build: ./microservices/skills_development
    env_file:
      - ./microservices/skills_development/.env
    ports:
      - "8000"
  shadowing:
    build: ./microservices/shadowing
    env_file:
      - ./microservices/shadowing/.env
    expose:
      - "8000"
