version: "3.8"

services:
  gateway:
    build: ./gateway
    ports:
      - "8000:8000"
    depends_on:
      - whatsapp_agent
      - ai_glossary
      - ai_notekeeper
      - automatic_translation
      - skills_development
      - shadowing

  whatsapp_agent:
    build: ./microservices/whatsapp_agent
    env_file:
      - ./microservices/whatsapp_agent/.env

  ai_glossary:
    build: ./microservices/ai_glossary
    env_file:
      - ./microservices/ai_glossary/.env
    volumes:
      - ./microservices/ai_glossary/chroma_data:/app/chroma_data

  ai_notekeeper:
    build: ./microservices/ai_notekeeper
    env_file:
      - ./microservices/ai_notekeeper/.env
    volumes:
      - ./microservices/ai_notekeeper/temp_audio:/app/temp_audio
      - ./microservices/ai_notekeeper/outputs:/app/outputs
    ports:
    - "8001:8000"  

  automatic_translation:
    build: ./microservices/automatic_translation
    env_file:
      - ./microservices/automatic_translation/.env

  skills_development:
    build: ./microservices/skills_development
    env_file:
      - ./microservices/skills_development/.env
    ports:
      - "8000"

  shadowing:
    build: ./microservices/shadowing
    env_file:
      - ./microservices/shadowing/.env
